# Motivation
I want to get a little familiar with MySQL, and a part of that is going to be using Python to interface with the server that I've set up. This notebook will contain some of my initial experimentation.

# Setup
The cells below will help to set up the rest of the notebook. 

I'll start by changing my working directory to the root of the repo.

In [1]:
%cd ..

d:\data\programming\neural-needle-drop

Next, I'll import a couple of important Python modules.

In [35]:
# Import statements
import json
import os
import traceback
from tqdm import tqdm
import pandas as pd
import mysql.connector
from pathlib import Path
import numpy as np

### Setting Up MySQL Connector
I also want to set up the MySQL Connector.

In [3]:
# Set up the connection to the MySQL server
cnx = mysql.connector.connect(
    user='root', password=os.getenv("MYSQL_PASSWORD"), 
    host='localhost', database='neural-needle-drop')

# Create a cursor 
cursor = cnx.cursor()

# Populating Table
One of the first things I want to do: try and populate a table within the MySQL database. I'm going to follow [this tutorial](https://dev.mysql.com/doc/connector-python/en/connector-python-example-cursor-transaction.html) on populating a table with some data. 

First thing's first: I need to load in some of the data. I'll load everything into a DataFrame.

In [12]:
# Load in all of the data from theneedledrop_scraping folder
tnd_data_df_records = []
tnd_embeddings_df_records = []
tnd_transcriptions_df_records = []
for child_dir in tqdm(list(Path("data/theneedledrop_scraping/").iterdir())):
    if (child_dir.is_dir()):

        # Load in the enriched details for this video 
        enriched_details_path = Path(f"{child_dir}/enriched_details.json")
        if (enriched_details_path.exists()):
            with open(enriched_details_path, "r") as json_file:
                tnd_data_df_records.append(json.load(json_file))

        # Load in the whole-video embedding for this video 
        whole_video_embedding_path = Path(f"{child_dir}/whole_video_embedding.json")
        if (whole_video_embedding_path.exists()):
            with open(whole_video_embedding_path, "r") as json_file:
                tnd_embeddings_df_records.append(
                    {"video_id": child_dir.stem,
                     "embedding": json.load(json_file)})

        # Load in the transcription for this video
        transcription_path = Path(f"{child_dir}/transcription.json")
        if (transcription_path.exists()):
            with open(transcription_path, "r") as json_file:
                tnd_transcriptions_df_records.append({
                    "video_id": child_dir.stem,
                    "transcription_dict": json.load(json_file)})

# Create the DataFrames
tnd_data_df = pd.DataFrame.from_records(tnd_data_df_records)
tnd_embeddings_df = pd.DataFrame.from_records(tnd_embeddings_df_records)
tnd_transcription_df = pd.DataFrame.from_records(tnd_transcriptions_df_records)

# Show the head of the tnd_data_df
tnd_data_df.head(1)

100%|██████████| 3974/3974 [00:24<00:00, 161.89it/s]

,videoId,title,lengthSeconds,keywords,channelId,isOwnerViewing,shortDescription,isCrawlable,thumbnail,allowRatings,viewCount,author,isPrivate,isUnpluggedCorpus,isLiveContent,publish_date,inferred_video_type,inferred_review_score,spotify_linkages
0,--YnsRamkzc,Joey Bada$$- 1999 ALBUM REVIEW,418,"[joey badass, joey bada$$, new york, album, 19...",UCt7fwAhXDy3oNFTAzF2o8Pw,False,Listen: http://theneedledrop.com/2012/06/joey-...,True,{'thumbnails': [{'url': 'https://i.ytimg.com/v...,True,365830,theneedledrop,False,False,False,2012-06-18 00:00:00,album_review,7.0,{'album': [{'review_album': '5ra51AaWF3iVebyhl...

Nice - with this data in hand, I should be able to load some of it into the SQL server.

In [ ]:
# Iterate through each of the rows in the tnd_data_df
for row in tqdm(list(tnd_data_df.itertuples())):

    # Create the query from some of the information in this row 
    insert_query = """
    REPLACE INTO video_details
        (id, title, length, channel_id, description, 
        view_ct, channel_name, publish_date, url)
        VALUES (%(id)s, %(title)s, %(length)s, %(channel_id)s, 
        %(description)s, %(view_ct)s, %(channel_name)s, %(publish_date)s,
        %(url)s)
    """

    # We'll specify the data that we'll be injecting into the table
    insert_data = {
        "id": row.videoId,
        "title": row.title,
        "length": row.lengthSeconds,
        "channel_id": row.channelId,
        "description": row.shortDescription,
        "view_ct": row.viewCount,
        "channel_name": row.author,
        "publish_date": row.publish_date,
        "url": f"https://www.youtube.com/watch?v={row.videoId}"
    }

    # Execute this query 
    cursor.execute(insert_query, insert_data)

# Now that we're done with adding all of the data, we'll commit it 
cnx.commit()

### Whole-Video Embeddings
I also want to upload some of the video embeddings to the MySQL server.

In [25]:
# Determine how many segments are in the transcription for this particular video
tnd_transcription_df["segment_ct"] = tnd_transcription_df["transcription_dict"].apply(
    lambda x: len(x['segments']))

# Merge the segment counts into the video embedding dictionary 
tnd_embeddings_df = tnd_embeddings_df.merge(tnd_transcription_df[["video_id", "segment_ct"]], how="left", on="video_id").copy()

# Add in the type of the embedding
tnd_embeddings_df["embedding_type"] = "whole_video"

# Determine the start_segment and end_segment
tnd_embeddings_df["start_segment"] = 0
tnd_embeddings_df["end_segment"] = tnd_embeddings_df["segment_ct"].apply(lambda x: x-1)

With this data transformed like it is, we should be able to ingest it into the server.

In [38]:
# Iterate through each of the rows in the tnd_data_df
for row in tqdm(list(tnd_embeddings_df.itertuples())):

    # Create the query from some of the information in this row 
    insert_query = """
    REPLACE INTO embeddings
        (id, embedding, embedding_type,
         start_segment, end_segment)
        VALUES (%(id)s, %(embedding)s, %(embedding_type)s, 
                %(start_segment)s, %(end_segment)s)
    """

    # We'll specify the data that we'll be injecting into the table
    insert_data = {
        "id": row.video_id,
        "embedding": np.array(row.embedding).tobytes(),
        "embedding_type": row.embedding_type,
        "start_segment": row.start_segment,
        "end_segment": row.end_segment
    }

    # Execute this query 
    cursor.execute(insert_query, insert_data)

# Now that we're done with adding all of the data, we'll commit it 
cnx.commit()

100%|██████████| 3899/3899 [00:02<00:00, 1550.80it/s]

In [49]:
list(tnd_embeddings_df.query("video_id=='__MzJoGgYLk'").iloc[0].embedding)

[0.0025317403,
 -0.0064610015,
 0.0039157583,
 -0.022387337,
 0.00017838221,
 0.004114922,
 -0.016189637,
 -0.024480242,
 -0.030704947,
 -0.007615475,
 0.019551788,
 0.0013620764,
 -0.040615868,
 0.013003019,
 0.025128366,
 0.014812369,
 0.050661813,
 0.019281734,
 0.016243646,
 -0.019524781,
 -0.03742925,
 -0.0050837346,
 -0.02587101,
 0.0025806874,
 0.0020338316,
 0.00086036976,
 0.013246066,
 -0.008560658,
 -0.0011240927,
 -0.007541211,
 0.014069725,
 0.0069133393,
 -0.027437314,
 -0.009546349,
 -0.00831086,
 -0.04258725,
 -0.01662172,
 -0.0100662,
 0.004769799,
 -0.013030024,
 0.0028828084,
 -0.0039630174,
 0.0129962675,
 -0.01920072,
 0.010343003,
 -0.0014118672,
 -0.0051917555,
 -0.022319824,
 -0.0083783725,
 0.012165857,
 0.020010876,
 -0.009114265,
 0.017539898,
 -0.008688933,
 0.013090786,
 -0.02664066,
 0.013111039,
 0.006980852,
 0.01409673,
 -0.014285767,
 -0.002906438,
 0.009154773,
 -0.005978283,
 -0.005714982,
 0.010187724,
 -0.0054550567,
 -0.011294938,
 0.0052592685,
 -0.013408097,
 -0.008263601,
 0.018957673,
 0.011767529,
 -0.004503122,
 -0.001745213,
 0.05271421,
 -0.013738911,
 -0.03918459,
 -0.016459689,
 -0.0123008825,
 -0.0022178045,
 0.020280927,
 0.001725803,
 -0.011922809,
 0.022832923,
 0.011355699,
 0.02086154,
 -0.0076289778,
 0.008445886,
 0.0059040184,
 -0.017080808,
 -0.029300675,
 0.0147043485,
 0.038077377,
 0.012584438,
 -0.011841794,
 0.008614669,
 0.0010354818,
 -0.0022076776,
 -0.023251504,
 -0.022468353,
 -0.010160718,
 -0.006153817,
 -0.004010277,
 -0.012354893,
 -0.037240215,
 -0.017026799,
 0.008594414,
 0.002416968,
 0.012030831,
 0.014690845,
 0.010045946,
 0.0133608375,
 0.015217448,
 -0.048663426,
 -0.01925473,
 -0.008803705,
 0.021725709,
 -0.034566697,
 -0.007264407,
 -0.020334939,
 0.004709037,
 0.027234776,
 0.021712206,
 -0.032028202,
 0.027005231,
 -0.0025756238,
 -0.031839166,
 -0.0012802167,
 -0.016027605,
 0.011733773,
 0.028544528,
 -0.0060795527,
 0.018782139,
 0.017364364,
 -0.0054854373,
 -0.011112653,
 -0.014393788,
 -0.0028507398,
 -0.008709187,
 -0.035349846,
 -0.0010852728,
 0.005073608,
 -0.010775087,
 -0.019524781,
 -0.0057554897,
 0.0076289778,
 0.017782945,
 0.016635222,
 -0.003053279,
 0.009890665,
 0.0010380136,
 -0.028301481,
 0.010606305,
 -0.00048060872,
 -0.014717851,
 0.02188774,
 -0.0055495747,
 0.015595521,
 -0.026154567,
 8.133216e-05,
 -0.006660165,
 0.01729685,
 -0.005461808,
 -0.0037503515,
 0.017674923,
 0.04212816,
 0.0087024355,
 -0.01843107,
 0.009040001,
 -0.0064002397,
 -0.0015519569,
 0.03375654,
 -0.020361943,
 0.041642066,
 -0.008682182,
 0.011220673,
 0.010194475,
 -0.0027123378,
 -0.025925022,
 -0.0009789396,
 0.017107815,
 0.032433283,
 0.030893983,
 0.004037282,
 -0.020361943,
 -0.01987585,
 0.028895596,
 0.00017247481,
 -0.01594659,
 -0.020226918,
 -0.019025184,
 0.03448568,
 -0.0064474987,
 -0.00030950527,
 -0.6330026,
 0.0040035252,
 -0.00081268867,
 0.023602571,
 0.012219867,
 0.005512443,
 0.0017317104,
 0.02695122,
 -0.01032275,
 0.04472066,
 -0.0022886933,
 0.010714325,
 0.0020523975,
 -0.01140971,
 -0.020213416,
 -0.013144796,
 -0.007811263,
 -0.01817452,
 -0.010883108,
 -0.008121823,
 -0.017148321,
 0.038266413,
 0.00022089435,
 0.006471128,
 0.028058434,
 0.011045139,
 0.03732123,
 -0.012354893,
 -0.014231756,
 -0.0016397239,
 -0.019740824,
 0.029435702,
 -0.0268432,
 -0.004925079,
 0.0573051,
 -0.026708173,
 0.018215029,
 0.038482454,
 0.023021959,
 0.028004425,
 -0.021617686,
 -0.025425425,
 0.02545243,
 -0.023238001,
 0.0051512476,
 -0.013948201,
 0.014488306,
 0.016392175,
 0.0053504114,
 -0.010572548,
 0.017769441,
 -0.019025184,
 -0.0035073042,
 0.0038448698,
 -0.017620914,
 -0.018795641,
 0.012213116,
 0.02296795,
 0.003841494,
 0.0011814788,
 -0.014164244,
 -0.017404871,
 0.0025317403,
 -0.0013038462,
 0.0002144595,
 0.010802092,
 0.00052533613,
 -0.02121261,
 0.0081015695,
 0.012922003,
 0.004162181,
 -0.011673011,
 -0.03556589,
 0.011072145,
 0.015541511,
 0.021550175,
 -0.005401046,
 -0.0014253699,
 0.009647619,
 -0.005674474,
 0.019700317,
 0.0057892464,
 -0.015595521,
 -0.011855296,
 0.031623125,
 0.026465125,
 -0.011990323,
 0.006552144,
 0.0091615245,
 -0.017674923,
 -0.009904169,
 0.013340584,
 0.00044094477,
 -0.022306321,
 -0.0087767,
 0.011389456,
 0.0010456088,
 0.016270652,
 -0.013894191,
 -0.048933476,
 -0.021199105,
 -0.019079195,
 0.01616263,
 0.004398477,
 -0.0002641449,
 0.012449412,
 0.0034769236,
 0.010491532,
 0.031002006,
 -0.022427844,
 -0.009890665,
 0.013549875,
 -0.017080808,
 -0.0149744,
 0.00795304,
 -0.026627157,
 0.009080509,
 0.007926035,
 0.009303302,
 -0.036484066,
 0.0003327129,
 0.029516717,
 -0.0009401196,
 -0.0053639137,
 -0.024385724,
 0.02916565,
 0.0025992536,
 0.004533503,
 -0.017188828,
 0.004749545,
 0.018147515,
 -0.0061673196,
 0.0201324,
 -0.018107006,
 0.0037165948,
 0.0004924235,
 0.031515103,
 0.0042533237,
 0.022981452,
 -0.038779512,
 -0.03186617,
 -0.021280121,
 -0.0073116664,
 0.009593608,
 -0.0025047353,
 -0.030596927,
 0.004887947,
 -0.005799373,
 -0.015703542,
 0.007838268,
 -0.0025587457,
 -0.002357894,
 -0.0050972374,
 0.010403765,
 0.011139657,
 -0.007926035,
 0.0049115764,
 -0.006855953,
 -0.043559436,
 -0.009343809,
 0.002379836,
 0.028517524,
 -0.013090786,
 -0.0073184175,
 -0.0063023455,
 -0.008290606,
 0.00023144326,
 0.010059449,
 0.01161225,
 -0.041101962,
 0.0075817187,
 -0.013725408,
 -0.014812369,
 0.007662734,
 -0.008317611,
 0.020199912,
 0.000151166,
 0.011132906,
 0.014218254,
 0.01234139,
 0.0003529668,
 0.041318003,
 0.0057487385,
 -0.009735386,
 0.013880689,
 -0.019079195,
 0.01631116,
 0.009262794,
 -0.024912326,
 0.024790801,
 -0.003541061,
 -0.006278716,
 -0.0035174312,
 -0.011213922,
 -0.011456969,
 0.0014498433,
 0.003956266,
 0.0028136075,
 -5.7755326e-05,
 0.027680362,
 0.0037571026,
 0.020280927,
 0.0061268117,
 -0.014083228,
 0.0023427038,
 -0.017782945,
 0.015987096,
 -0.02647863,
 0.044747666,
 -0.0056981035,
 0.011450218,
 -0.03556589,
 -0.030785963,
 -0.014029217,
 0.0006105714,
 0.028436508,
 -0.00053166546,
 0.02916565,
 0.005127618,
 0.0077572525,
 0.0056103365,
 0.018242033,
 0.003530934,
 -0.0046719047,
 -0.007635729,
 0.008135326,
 0.033729535,
 0.011774281,
 0.008790202,
 -0.017850457,
 -0.013867186,
 0.017566903,
 0.02095606,
 -0.013603885,
 -0.0014152429,
 -0.039400633,
 0.011369202,
 -0.017985484,
 0.016027605,
 -0.026870204,
 -0.014231756,
 0.0067411806,
 0.024871817,
 -0.022090279,
 0.049392566,
 -0.007608724,
 0.0081015695,
 0.026964722,
 -0.01166626,
 0.0034566696,
 0.008844213,
 0.028409503,
 -0.01429927,
 -0.011443467,
 0.032190233,
 -0.024277702,
 -0.0001569679,
 -0.011868799,
 0.028409503,
 0.027369801,
 -0.0077640037,
 0.03143409,
 0.0081015695,
 0.006309097,
 0.012780226,
 -0.008682182,
 -0.013428351,
 -0.003112353,
 0.0017637791,
 0.017674923,
 -0.00013734691,
 -0.017904468,
 0.027045738,
 -0.02344054,
 0.011970068,
 0.0087024355,
 0.017458882,
 0.0015722108,
 0.006697297,
 0.006217954,
 -0.0056238393,
 -0.03691615,
 0.018984677,
 0.004135176,
 -0.009951428,
 -0.00454363,
 0.015433489,
 0.0033334582,
 -0.013543123,
 0.022198299,
 0.011281435,
 0.015838567,
 0.012874744,
 6.513957e-05,
 0.026087053,
 -0.028760571,
 0.022117283,
 -0.028625544,
 0.0010312622,
 -0.012368396,
 0.00702136,
 -0.016635222,
 0.022535864,
 -0.01616263,
 0.042884305,
 0.0013544811,
 -0.026667666,
 -0.0012278941,
 -0.012435908,
 0.012138851,
 0.017310353,
 0.019740824,
 0.00010169157,
 -0.017782945,
 0.009661121,
 0.010957372,
 -0.0031444216,
 -0.0065960274,
 0.007115878,
 -0.0052828984,
 -0.02803143,
 -0.029705754,
 -0.019173713,
 -0.016810756,
 0.12962511,
 0.016176132,
 -0.005704855,
 0.042992327,
 -0.0106400605,
 -0.019079195,
 0.0013713593,
 -0.010370009,
 -0.00038165986,
 -0.0027832265,
 0.006292219,
 -0.012922003,
 -0.0026313222,
 0.025276896,
 0.014434296,
 -0.010808843,
 0.026208576,
 -0.024858315,
 -0.014488306,
 -0.014461301,
 0.013988709,
 0.0037334731,
 -0.0069470955,
 0.013414849,
 -0.0031899929,
 -0.0008451793,
 0.004216192,
 -0.0065588956,
 0.02808544,
 -0.0028895596,
 0.003956266,
 -0.00023903849,
 -0.00032617257,
 -0.008682182,
 -0.017161824,
 0.0062955944,
 0.022076776,
 0.007284661,
 0.031056015,
 -0.008398627,
 0.012111846,
 -0.0029942049,
 0.01863361,
 -0.0058466326,
 0.027504828,
 -0.007223899,
 -0.004037282,
 0.04445061,
 0.008486394,
 -0.016230144,
 0.025830504,
 0.015446992,
 -0.0039630174,
 -0.02664066,
 0.017823452,
 -0.008594414,
 -0.006251711,
 -0.019524781,
 0.00040191377,
 0.023346022,
 0.015014908,
 -0.017418373,
 -0.021347634,
 -0.021253116,
 -0.008769949,
 -0.04156105,
 -0.016432682,
 0.008236595,
 -0.011186916,
 -0.0149744,
 0.023251504,
 -0.011902556,
 -0.032460287,
 0.00078357366,
 0.00841888,
 -0.024385724,
 0.0022853178,
 -0.001307222,
 0.014231756,
 0.01146372,
 0.0015705229,
 -0.0024017778,
 0.003043152,
 -0.02673518,
 0.0067749373,
 0.00795304,
 0.010565797,
 -0.0052828984,
 -0.0010878044,
 0.03216323,
 -0.0106873205,
 -0.0008295669,
 -0.0061943247,
 -0.019389756,
 0.015082422,
 0.008020554,
 0.010768335,
 -0.004736042,
 0.025695477,
 -0.015568515,
 0.019592294,
 -0.023845619,
 -0.0015772743,
 -0.016810756,
 0.011639254,
 -0.018701123,
 0.0015705229,
 -0.0021587305,
 0.003412786,
 0.008358119,
 -0.00011856984,
 -0.0002136156,
 -0.009458582,
 2.848208e-05,
 -0.018255536,
 0.032649323,
 -0.007885528,
 0.026627157,
 -0.000985691,
 -0.008749695,
 -0.015528007,
 -0.03273034,
 0.016743243,
 0.030488905,
 -0.01998387,
 0.01099788,
 -0.010221479,
 -0.03794235,
 -0.01698629,
 0.016338164,
 0.021968756,
 0.008952234,
 -0.011362451,
 -0.041101962,
 -0.01146372,
 -0.0063057216,
 -0.005107364,
 0.0045503816,
 -0.0068390747,
 0.012712712,
 -0.014555819,
 -0.0054584322,
 -0.013921197,
 -0.025979033,
 0.00084897695,
 -0.026924215,
 -0.023656582,
 0.007169889,
 -0.041182976,
 -0.0069470955,
 -0.020024378,
 -0.004962211,
 -0.01662172,
 0.011328694,
 -0.0010759897,
 -0.02095606,
 0.004563884,
 -0.03578193,
 0.022036267,
 0.027680362,
 0.0152579555,
 -0.0086551765,
 0.00862142,
 -0.0025300526,
 0.005978283,
 0.011585244,
 -0.011105902,
 -0.019497776,
 -0.027977418,
 0.019038688,
 -0.013374341,
 0.0201324,
 -0.011483975,
 0.0059343996,
 -0.025965529,
 0.043235373,
 -0.015419987,
 -0.0077302475,
 -0.021725709,
 -0.00038440258,
 0.015460495,
 0.0025874386,
 -0.0054280516,
 -0.011862048,
 0.014164244,
 0.0013477298,
 0.028868591,
 0.00086332345,
 0.008513399,
 0.006184198,
 0.025128366,
 -0.041318003,
 -0.014582825,
 0.024237195,
 0.017053803,
 -0.019997373,
 -0.021860734,
 -0.010883108,
 -0.019241227,
 -0.0105928015,
 0.004817058,
 0.017715432,
 -0.011889053,
 -0.0051174914,
 -0.0044119796,
 0.005907394,
 -0.0019629428,
 0.011335446,
 -0.0076019727,
 -0.0063428534,
 -0.014839374,
 -0.018161017,
 -0.020699508,
 -0.047475196,
 -0.009046752,
 -0.0011755715,
 -0.0072914124,
 -0.0003109821,
 -0.00071226293,
 -0.042506233,
 0.0143802855,
 -0.009249291,
 0.011916058,
 0.004044033,
 0.017850457,
 0.0111464085,
 0.014596327,
 -0.01636517,
 0.009431576,
 0.01843107,
 -0.022117283,
 -0.00017701085,
 0.015311966,
 -0.02153667,
 0.018822646,
 0.010356506,
 -0.008297357,
 -0.028382497,
 -0.023170488,
 0.006677043,
 -0.012091592,
 0.00021962848,
 -0.022346828,
 -0.0021182229,
 -0.016662227,
 0.0064407475,
 0.002557058,
 -0.008040807,
 -0.018323049,
 -0.011166663,
 -0.027761377,
 0.021037074,
 -0.006828948,
 -0.0043647205,
 0.00485419,
 0.0061369385,
 -0.007993548,
 -0.03329745,
 -0.026964722,
 0.0155820185,
 -0.007966543,
 0.03578193,
 -0.023494551,
 0.0027444065,
 0.0076694856,
 0.012739718,
 -0.018444572,
 -0.01125443,
 -0.0030093954,
 0.027572341,
 -0.012881495,
 0.017715432,
 0.023791607,
 -0.009769143,
 -0.011983572,
 -0.006319224,
 0.005890516,
 0.013779419,
 0.0087767,
 0.007068619,
 -0.0035714419,
 0.00831086,
 -0.018323049,
 0.0002670986,
 0.0007831517,
 -0.031677134,
 -0.0047259154,
 -0.008040807,
 0.007061868,
 -0.03505279,
 0.007520957,
 -0.014623333,
 -0.00236127,
 -0.009829904,
 -0.011848545,
 -0.016918777,
 -0.008196088,
 0.007088873,
 -0.009836655,
 0.03329745,
 -0.010160718,
 -0.0039933985,
 -0.008729441,
 0.018107006,
 0.0017435252,
 0.0014101794,
 0.037402246,
 -0.0003491692,
 -0.027072744,
 -0.027383303,
 0.015379479,
 0.004715788,
 -0.015352474,
 0.00024325805,
 0.017985484,
 -8.992953e-06,
 -0.0006894773,
 -0.002457476,
 -0.021739211,
 0.01280723,
 -0.013610636,
 0.007082122,
 0.024817808,
 -0.016743243,
 -0.0013080658,
 0.0045301276,
 0.002906438,
 0.007507454,
 -0.0126722045,
 -0.0037773566,
 -0.0038482454,
 0.033108413,
 0.0009055191,
 -0.01429927,
 0.009431576,
 -0.017796448,
 -0.030515911,
 0.02095606,
 0.0138266785,
 -0.024169682,
 0.04393751,
 0.017620914,
 0.0073859305,
 0.017107815,
 -0.010923616,
 -0.024412729,
 -0.018471578,
 -0.021280121,
 -0.032082215,
 -0.028463513,
 0.0023140106,
 0.027477821,
 -0.0010717701,
 -0.012361645,
 -0.015365976,
 0.014150741,
 -0.019835342,
 -0.01125443,
 -0.032676328,
 -0.005073608,
 0.0019460644,
 -0.020442959,
 0.0007472854,
 0.018836148,
 0.009897417,
 0.009114265,
 -0.010329501,
 -0.032973386,
 0.0025654968,
 0.0053504114,
 0.015514505,
 -0.011227424,
 -0.04636798,
 -0.014083228,
 -0.014150741,
 0.016500195,
 -0.010883108,
 0.013880689,
 -0.0051309937,
 -0.013664647,
 0.0011671323,
 0.0028136075,
 0.021239614,
 0.031002006,
 0.010646813,
 -0.009850158,
 -0.0039123828,
 0.0047056614,
 0.040048756,
 0.0072509046,
 0.040210787,
 0.029516717,
 -0.017674923,
 -0.0028794326,
 -0.0037098436,
 -0.0382124,
 -0.0057183574,
 0.0110991495,
 0.016716238,
 0.008709187,
 -0.015460495,
 0.017674923,
 -0.0033013895,
 -0.01978133,
 0.004817058,
 -0.010545542,
 0.003551188,
 0.0044727414,
 0.008182585,
 0.013772667,
 0.006953847,
 0.020780524,
 0.010356506,
 0.0015679912,
 0.010383511,
 -0.0105928015,
 0.0067749373,
 -0.0016422556,
 0.017391369,
 0.009789396,
 0.005060105,
 -0.006798567,
 -0.02493933,
 0.0097151315,
 0.0114232125,
 -0.024102168,
 0.024898823,
 -0.031002006,
 -0.015095924,
 -0.00018154689,
 -0.005937775,
 -0.028328488,
 0.0009468709,
 0.0020540853,
 -0.022670891,
 0.0059411507,
 0.2359177,
 -0.016189637,
 -0.007946289,
 0.012483167,
 -0.01967331,
 0.018093504,
 0.031839166,
 -0.004847439,
 -0.0013308516,
 0.020226918,
 0.026222078,
 0.018566096,
 -0.009458582,
 -0.0024034656,
 0.022495357,
 0.017040301,
 -0.017256342,
 -0.03092099,
 0.013698404,
 -0.010802092,
 -0.0011975132,
 -0.012030831,
 -0.008715938,
 -0.022535864,
 0.039103575,
 0.01941676,
 0.015136432,
 -0.018714625,
 0.014528814,
 0.01863361,
 -0.011659509,
 -0.021131594,
 0.010180972,
 -0.009289799,
 -0.00017184188,
 0.0032878867,
 -0.01899818,
 -0.0017182078,
 0.00015232638,
 -0.011591995,
 0.027275283,
 0.00056120247,
 -0.031272057,
 -0.029057628,
 0.014501809,
 -0.006052547,
 ...]

# Querying the Server
Now that I've got some data in the table, I want to try and test querying it. With the help of ChatGPT, I've written the method below.

In [4]:
def query_to_df(query, print_error=False):
    '''Query the active MySQL database and return results in a DataFrame'''

    # Try to return the results as a DataFrame
    try:
        # Execute the query
        cursor.execute(query)

        # Fetch the results 
        res = cursor.fetchall()

        # Return a DataFrame
        return pd.DataFrame(res, columns=[i[0] for i in cursor.description])

    # If we run into an Exception, return None
    except Exception as e:
        if (print_error):
            print(f"Ran into the following error:\n{e}\nStack trace:")
            print(traceback.format_exc())
        return None

Now - we can test this method out! The code below will grab *all* of the video details:

In [5]:
# This query will grab all of the data from the table 
all_video_details_query = """SELECT * FROM video_details"""

# Execute the above query 
all_video_details_df = query_to_df(all_video_details_query)

# Show the first 3 rows
all_video_details_df.head(3)

,id,title,length,channel_id,description,view_ct,channel_name,publish_date,url
0,__MzJoGgYLk,Jack White - Lazaretto ALBUM REVIEW,391,UCt7fwAhXDy3oNFTAzF2o8Pw,Listen: http://youtu.be/sRbnAxrS3EM\n\nJack Wh...,219457,theneedledrop,2014-06-11,https://www.youtube.com/watch?v=__MzJoGgYLk
1,__PxaWntvhg,Metá Metá - MM3 ALBUM REVIEW,245,UCt7fwAhXDy3oNFTAzF2o8Pw,Listen: https://www.youtube.com/watch?v=FNXUOG...,36095,theneedledrop,2016-12-10,https://www.youtube.com/watch?v=__PxaWntvhg
2,_-DrFVGXHyA,Dave - We're All Alone in This Together ALBUM ...,558,UCt7fwAhXDy3oNFTAzF2o8Pw,Listen: https://www.youtube.com/watch?v=oFqVvj...,298074,theneedledrop,2021-07-26,https://www.youtube.com/watch?v=_-DrFVGXHyA

What about a query that'll do a little analysis? What's the longest video I have?

In [ ]:
# This query will determine the title of the longest video
longest_video_query = """
SELECT
    title,
    length
FROM
    video_details
WHERE length = (SELECT MAX(length) FROM video_details)
"""

# Execute the above query
query_to_df(longest_video_query, print_error=True)

How about the shortest video?

In [ ]:
# This query will determine the title of the shortest video
shortest_video_query = """
SELECT 
    title,
    length
FROM
    video_details
WHERE length = (SELECT MIN(length) FROM video_details)
"""

# Execute the above query
query_to_df(shortest_video_query, print_error=True)

What about something a little more complicated: "what's the longest video released in 2018 that had a maximum length of 3 minutes?"

In [ ]:
# This query will determine the video described above
complicated_query = """
WITH only_2018 AS (
    SELECT id, length
    FROM video_details
    WHERE YEAR(publish_date) = 2018
)
SELECT 
    video_details.id,
    video_details.title, 
    video_details.length,
    video_details.url
FROM only_2018
JOIN video_details ON video_details.id=only_2018.id
WHERE video_details.length = (SELECT MAX(length) from only_2018 WHERE length <=300) 
"""

# Execute the above query
query_to_df(complicated_query, print_error=True)

# Closing the Cursor
Once we're finished with things, we ought to close out the cursor.

In [ ]:
cursor.close()
cnx.close()